template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
  "parameters": {
    "connections_powerbi_name": {
      "defaultValue": "powerbi",
      "type": "String"
    },
    "workflows_MailingLA_name": {
      "defaultValue": "MailingLA",
      "type": "String"
    },
    "connections_office365_name": {
      "defaultValue": "office365",
      "type": "String"
    },
    "connections_sharepointonline_name": {
      "defaultValue": "sharepointonline",
      "type": "String"
    },
    "grname": {
      "type": "String"
    },
    "location": {
      "type": "String"
    },
    "subscr": {
      "type": "String"
    }
    },
    "variables": {},
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('connections_office365_name')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "semioys@msteamsappaccess.onmicrosoft.com",
        "customParameterValues": {},
        }
      }
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('connections_powerbi_name')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "semioys@msteamsappaccess.onmicrosoft.com",
        "customParameterValues": {},
        }
      }
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('connections_sharepointonline_name')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "semioys@msteamsappaccess.onmicrosoft.com",
        "customParameterValues": {},
        }
      }
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_MailingLA_name')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('connections_powerbi_name'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "$id": "http://example.com/example.json",
                  "$schema": "http://json-schema.org/draft-07/schema",
                  "examples": [
                    {
                      "body": "<body>Example html body</body>",
                      "contacts": [
                        "example-email-1@gmail.com",
                        "example-email-2@gmail.com"
                      ],
                      "subject": "Example email"
                    }
                  ],
                  "properties": {
                    "body": {
                      "$id": "#/properties/body",
                      "description": "Element represents the content of an HTML document",
                      "examples": [
                        "<body>Example html body</body>"
                      ],
                      "title": "Body",
                      "type": "string"
                    },
                    "contacts": {
                      "$id": "#/properties/contacts",
                      "description": "An array of contacts to whom the letter will be sent",
                      "examples": [
                        [
                          "example-email-1@gmail.com",
                          "example-email-2@gmail.com"
                        ]
                      ],
                      "items": {
                        "$id": "#/properties/contacts/items",
                        "anyOf": [
                          {
                            "$id": "#/properties/contacts/items/anyOf/0",
                            "description": "An explanation about the purpose of this instance.",
                            "examples": [
                              "example-email-1@gmail.com",
                              "example-email-2@gmail.com"
                            ],
                            "title": "The first anyOf schema",
                            "type": "string"
                          }
                        ]
                      },
                      "title": "Contacts",
                      "type": "array"
                    },
                    "subject": {
                      "$id": "#/properties/subject",
                      "description": "An email subject line",
                      "examples": [
                        "Example email"
                      ],
                      "title": "Subject",
                      "type": "string"
                    }
                  },
                  "required": [
                    "contacts",
                    "subject",
                    "body"
                  ],
                  "type": "object"
                }
              },
              "operationOptions": "EnableSchemaValidation"
            }
          },
          "actions": {
            "For_each": {
              "foreach": "@triggerBody()['contacts']",
              "actions": {
                "Add_rows_to_a_dataset": {
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "date": "@{utcNow()}",
                      "email": "@{items('For_each')}",
                      "statusCode": "@{body('Parse_JSON')?['statusCode']}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['powerbi']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v1.0/myorg/groups/@{encodeURIComponent('myworkspace')}/datasets/@{encodeURIComponent('c087a4ea-7445-4875-83ee-6fa65db1f60c')}/tables/@{encodeURIComponent('RealTimeData')}/rows",
                    "queries": {
                      "pbi_source": "powerAutomate"
                    }
                  }
                },
                "Parse_JSON": {
                  "runAfter": {
                    "Send_an_email_(V2)": [
                      "Succeeded",
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@outputs('Send_an_email_(V2)')",
                    "schema": {
                      "properties": {
                        "statusCode": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "Send_an_email_(V2)": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "Body": "<p>@{triggerBody()['body']}</p>",
                      "Subject": "@triggerBody()['subject']",
                      "To": "@{items('For_each')}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                  },
                  "operationOptions": "DisableAsyncPattern, DisableAutomaticDecompression"
                }
              },
              "runAfter": {},
              "type": "Foreach"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                "connectionName": "office365",
                "id": "[\"parameters('subscr')\"]"
              },
              "powerbi": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_powerbi_name'))]",
                "connectionName": "powerbi",
                "id": "[\"parameters('subscr')\"]"
              }
            }
          }
        }
      }
    },
    
  ]
  }
